.Button{
    cursor: pointer;
    color: var(--inverted-primary-color)
}

.clear{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.outline{
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    background: none;
}