.app_dark_theme {
    --bg-color: #141414;
    --primary-color: rgb(245 109 5);
    --seondary-color: rgb(202 106 32);
    --navbar-bg: rgb(217 227 236);
    --inverted-primary-color: rgb(23 123 223);
    --inverted-seondary-color: rgb(12 81 150);
}
